OTROS/
DATA/scripts/clean_data_script/clean.ipynb
DATA/scripts/sql_scripts/scripts_and_data/notes.txt
DATA/scripts/sql_scripts/cred.txt
batch*.bat
.ipynb_checkpoints
.vscode
__pycache__
test.py
*HSC-unWISE*.csv
*.dat
*.fits
old


SVM/svm.py
SVM/random_search.json
SVM/metrics
SVM/saved_models
SVM/search_results
tests
model_2*
*random_search---bcg*
