Gimena_ClusterML/
DATA/scripts/clean_data_script/clean.ipynb
DATA/scripts/sql_scripts/scripts_and_data/OTRO/
DATA/scripts/sql_scripts/scripts_and_data/notes.txt
DATA/scripts/sql_scripts/cred.txt
DATA/scripts/sql_scripts/scripts_and_data/0-Wen&Han/*.dat
DATA/scripts/sql_scripts/scripts_and_data/1-sql-ids/*.fits
DATA/scripts/sql_scripts/scripts_and_data/2-matched-ids/*
DATA/scripts/sql_scripts/scripts_and_data/3-joined-mem-gal/*
DATA/scripts/sql_scripts/scripts_and_data/4-sql-cols/*.fits
DATA/old/
batch*.bat
NN/metrics/old/
NN/metrics/1-test_architectures.txt
SVM/svm.py
SVM/random_search.json
.ipynb_checkpoints
.vscode
__pycache__